<!DOCTYPE html>
            <html>
                <head>
                    <link rel="stylesheet" href="css/pagelogin.css">
                    <link rel="icon" type="image/jpg" href="image/prod.jpg">
                </head>
<body style="background-image:url('image/prod.jpg')">
    <form class="box" method="POST" action="./log">
        <h2>Login</h2>
        <input name="email" id="email-input" class="email_input" type="text" placeholder="E-mail"></input>
        <input name="password" id="password-input" class="password_input" type="password" placeholder="password"></input>    
        <input value="Connect" type="submit" class="valider-button" onclick=""></input>
    </form>
</body>
</html>
<script></script>